.container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider {
  display: flex;
  transform: translateX(0);
  transition-property: transform;
  will-change: transform;
}

.slide {
  width: 100%;
}
